<% content_for :title do %>About<% end %>
<br/>
<br/>
<div class="jumbotron">
	<img src="http://res.cloudinary.com/narration/image/upload/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png" style="width:200px" class="img-thumbnail pull-right">
  <h1>Welcome to narrated.org</h1>
  <p>The home of narrated news, blogs and stories.
  </p>
  <p><a href="<%= new_user_registration_url %>" class="btn btn-primary btn-lg">Signup</a></p>
</div>
