<% content_for :title do %>About<% end %>
<br/>
<br/>
<div class="jumbotron">
  <h1>Welcome to Narration.org!</h1>
  <p>Narrated news, blogs and stories.</p>
  <p><a href="<%= new_user_registration_url %>" class="btn btn-primary btn-lg">Signup</a></p>
</div>
