
<h1 class="text-center">Narration.org</h1>
<hr/>

<div class="col-md-12">
	<div class="col-md-8">
	<ul class="posts">
		<% @posts.each do |post| %>
			<li class="well">
	        <%= link_to image_tag(post.image.url(:thumb), class: "img-thumbnail pull-left", style: "margin-right: 10px;"), user_post_path(id: post, user_id: post.user) %>
	        <h3>
	        	<%= link_to truncate(post.title, :length => 40), user_post_path(id: post, user_id: post.user) %>
	        	<br/>
	        <small>
	        	via <%= link_to post.user.profile.display_name, vanity_profile_path(:id => post.user.profile) %>
	        </small>
	        </h3>
	        </li>
	    <% end %>
	    </ul>
	</div>
	<div class="col-md-4">
		
	</div>

</div>



